<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Highdmin - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Assets/admin/images/favicon.ico">

    <!-- App css -->
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/icons.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/metismenu.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" />


    <script src="~/Assets/admin/js/modernizr.min.js"></script>

</head>


<body ng-app="management" ng-controller="rootController">
    <ui-view></ui-view>

    <!-- jQuery  -->
    <script src="~/Assets/admin/js/jquery.min.js"></script>
    <script src="~/Assets/admin/js/popper.min.js"></script>
    <script src="~/Assets/admin/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/js/metisMenu.min.js"></script>
    <script src="~/Assets/admin/js/waves.js"></script>
    <script src="~/Assets/admin/js/jquery.slimscroll.js"></script>
    <script src="~/Assets/admin/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/admin/js/bootstrap-timepicker.js"></script>

    <!-- App js -->
    <script src="~/Assets/admin/js/jquery.core.js"></script>
    <script src="~/Assets/admin/js/jquery.app.js"></script>

    <!--Start Angularjs-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/ngBootbox.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/loading-bar.js"></script>

    <script src="~/app/shared/modules/management.common.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/drivers/driver.module.js"></script>
    <script src="~/app/components/cars/car.module.js"></script>
    <script src="~/app/components/routes/route.module.js"></script>
    <script src="~/app/components/seats/seat.module.js"></script>
    <script src="~/app/components/history_actions/historyAction.module.js"></script>
    <script src="~/app/components/booking/book.module.js"></script>
    <script src="~/app/components/customers/customer.module.js"></script>
    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>

    @*Driver*@
    <script src="~/app/components/drivers/driverListController.js"></script>
    <script src="~/app/components/drivers/driverEditController.js"></script>
    <script src="~/app/components/drivers/driverAddController.js"></script>

    @*Car*@
    <script src="~/app/components/cars/carAddController.js"></script>
    <script src="~/app/components/cars/carEditController.js"></script>
    <script src="~/app/components/cars/carListController.js"></script>

    @*Route*@
    <script src="~/app/components/routes/routeAddController.js"></script>
    <script src="~/app/components/routes/routeEditController.js"></script>
    <script src="~/app/components/routes/routeListController.js"></script>

    @*HistoryAction*@
    <script src="~/app/components/history_actions/historyActionListController.js"></script>

    @*Seat*@
    <script src="~/app/components/seats/seatAddController.js"></script>
    <script src="~/app/components/seats/seatCarController.js"></script>
    <script src="~/app/components/seats/seatEditController.js"></script>
    <script src="~/app/components/seats/seatListController.js"></script>

    @*Booking*@
    <script src="~/app/components/booking/bookAddController.js"></script>

    @*Customer*@
    <script src="~/app/components/customers/customerListController.js"></script>
    <script src="~/app/components/customers/customerEditController.js"></script>
</body>
</html>
