<div class="card-box">
    <h4 class="header-title">Danh sách lịch sử tác động hệ thống</h4>
    <di class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </di>

    <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap dataTable no-footer dtr-inline collapsed" cellspacing="0" id="datatable" role="grid" aria-describedby="datatable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 45px;" aria-sort="ascending" aria-label="
                                                ID
                                            : activate to sort column descending">
                                STT
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Requested By: activate to sort column ascending">Tên khách hàng</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">SDT</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Ngày lập hoá đơn</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">ID xe</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Ghế</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Ngày đi</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr dir-paginate="item in bills | itemsPerPage: 20 ">
                            <td>{{$index+1}}</td>
                            <td>{{item.CustomerName}}</td>
                            <td>{{item.CustomerPhone}}</td>
                            <td>{{item.DatedBill}}</td>
                            <td>{{item.IDCar}}</td>
                            <td>{{item.SeatName}}</td>
                            <td>{{item.dateBook}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls boundary-links="true"
                                         direction-links="true"
                                         on-page-change="pageChangeHandler(newPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>