 <!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index.html" class="logo">
                    <span>
                        <img src="Assets/admin/images/37c87075-52fc-438e-a835-3c4b3577586f.png" alt="" height="90">
                    </span>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="Assets/admin/images/users/iconfinder_user_285655.png" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                </div>
                <h5><a href="">{{authentication.userName}}</a> </h5>
                <p class="text-muted">Admin Head</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->
                    <!--<li>
        <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Sản phẩm </span> <span class="menu-arrow"></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a ui-sref="product_categories">Danh mục sản phẩm</a></li>
            <li><a ui-sref="products">Sản phẩm</a></li>
        </ul>
    </li>-->
                    <li>
                        <a ui-sref="dashboads">
                            <i class="fi-air-play"></i> <span> Dashboard </span>
                        </a>
                    </li>

                    <li class="menu-title">Nghiệp vụ</li>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Quản lý nghiệp vụ </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="booking">Đặt vé xe</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="customers">Khách hàng</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="drivers">Tài xế</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="cars">Xe</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="routes">Lộ trình</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="posts">Bài viết</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="">
                                <a href="javascript: void(0);" aria-expanded="false">Hoá đơn<span class="menu-arrow"></span></a>
                                <ul class="nav-third-level nav collapse" aria-expanded="false" style="height: 0px;">
                                    <li><a ui-sref="billconfirm">Hoá đơn đã xác nhận</a></li>
                                    <li><a ui-sref="bills">Hoá đơn chưa xác nhận</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>


                    <li class="menu-title">Hệ thống</li>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-air-play"></i> <span> Quản lý hệ thống </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="history_actions">Lịch sử tác động</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="application_groups">Nhóm quyền</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="application_roles">Quyền</a></li>
                        </ul>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a ui-sref="application_users">User</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <!-- Top Bar Start -->
        <div class="topbar">

            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <!--<li class="hide-phone app-search">
                        <form>
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>-->

                    <!--<li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="fi-bell noti-icon"></i>
                            <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Notification</h5>
                            </div>

                            <div class="slimscroll" style="max-height: 230px;">
                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">3 days ago</small></p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                                    <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-purple"><i class="mdi mdi-account-plus"></i></div>
                                    <p class="notify-details">New user registered.<small class="text-muted">7 days ago</small></p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-custom"><i class="mdi mdi-heart"></i></div>
                                    <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                                </a>
                            </div>

                            
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>-->

                    <!--<li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="fi-speech-bubble noti-icon"></i>
                            <span class="badge badge-custom badge-pill noti-icon-badge">6</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Chat</h5>
                            </div>

                            <div class="slimscroll" style="max-height: 230px;">
                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="/Assets/admin/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Cristina Pride</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="/Assets/admin/images/users/avatar-3.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Sam Garret</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="/Assets/admin/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Karen Robinson</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Wow that's great</p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="/Assets/admin/images/users/avatar-5.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Sherry Marshall</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                                </a>

                                
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon"><img src="/Assets/admin/images/users/avatar-6.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">Shawn Millard</p>
                                    <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                                </a>
                            </div>

                            
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>-->

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown"  role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="/Assets/admin/images/users/iconfinder_user_285655.png" alt="user" class="rounded-circle"> <span class="ml-1">{{authentication.userName}}<i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                            
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-head"></i> <span>My Account</span>
                            </a>-->

                            
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-cog"></i> <span>Settings</span>
                            </a>-->

                            
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-help"></i> <span>Support</span>
                            </a>-->

                            
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-lock"></i> <span>Lock Screen</span>
                            </a>-->

                            
                            <a href="javascript:void(0);" ng-click="logout()" class="dropdown-item notify-item">
                                <i class="fi-power"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title">HAPA </h4>
                            <!--<ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Highdmin</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item active">Starter</li>
                            </ol>-->
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Top Bar End -->
        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">

                <!--RenderBody-->
                <ui-view></ui-view>
                <!--End RenderBody-->
            </div> <!-- container -->
        </div> <!-- content -->

        <footer class="footer text-right">
            2018 © HAPA. - Đặt vé xe trực tuyến
        </footer>
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->

<script>
    /**
* Theme: Highdmin - Responsive Bootstrap 4 Admin Dashboard
* Author: Coderthemes
* Module/App: Core js
*/

    /**
     * Components
     */
    !function ($) {
        "use strict";

        var Components = function () { };

        //initializing tooltip
        Components.prototype.initTooltipPlugin = function () {
            $.fn.tooltip && $('[data-toggle="tooltip"]').tooltip()
        },

            //initializing popover
            Components.prototype.initPopoverPlugin = function () {
                $.fn.popover && $('[data-toggle="popover"]').popover()
            },

            //initializing custom modal
            Components.prototype.initCustomModalPlugin = function () {
                $('[data-plugin="custommodal"]').on('click', function (e) {
                    Custombox.open({
                        target: $(this).attr("href"),
                        effect: $(this).attr("data-animation"),
                        overlaySpeed: $(this).attr("data-overlaySpeed"),
                        overlayColor: $(this).attr("data-overlayColor")
                    });
                    e.preventDefault();
                });
            },

            //initializing Slimscroll
            Components.prototype.initSlimScrollPlugin = function () {
                //You can change the color of scroll bar here
                $.fn.slimScroll && $(".slimscroll-alt").slimScroll({ position: 'right', size: "5px", color: '#98a6ad', wheelStep: 10 });
            },

            //range slider
            Components.prototype.initRangeSlider = function () {
                $.fn.slider && $('[data-plugin="range-slider"]').slider({});
            },

            /* -------------
             * Form related controls
             */
            //switch
            Components.prototype.initSwitchery = function () {
                $('[data-plugin="switchery"]').each(function (idx, obj) {
                    new Switchery($(this)[0], $(this).data());
                });
            },

            Components.prototype.initKnob = function () {
                $('[data-plugin="knob"]').each(function (idx, obj) {
                    $(this).knob();
                });
            },

            Components.prototype.initCounterUp = function () {
                var delay = $(this).attr('data-delay') ? $(this).attr('data-delay') : 100; //default is 100
                var time = $(this).attr('data-time') ? $(this).attr('data-time') : 1200; //default is 1200
                $('[data-plugin="counterup"]').each(function (idx, obj) {
                    $(this).counterUp({
                        delay: 100,
                        time: 1200
                    });
                });
            },

            //initilizing
            Components.prototype.init = function () {
                var $this = this;
                this.initTooltipPlugin(),
                    this.initPopoverPlugin(),
                    this.initSlimScrollPlugin(),
                    this.initCustomModalPlugin(),
                    this.initRangeSlider(),
                    this.initSwitchery(),
                    this.initKnob(),
                    this.initCounterUp()
            },

            $.Components = new Components, $.Components.Constructor = Components

    }(window.jQuery),
        //initializing main application module
        function ($) {
            "use strict";
            $.Components.init();
        }(window.jQuery);
</script>

<script>
    (function ($) {

        'use strict';

        function initSlimscrollMenu() {

            $('.slimscroll-menu').slimscroll({
                height: 'auto',
                position: 'right',
                size: "8px",
                color: '#9ea5ab',
                wheelStep: 5
            });
        }

        function initSlimscroll() {
            $('.slimscroll').slimscroll({
                height: 'auto',
                position: 'right',
                size: "8px",
                color: '#9ea5ab'
            });
        }

        function initMetisMenu() {
            //metis menu
            $("#side-menu").metisMenu();
        }

        function initLeftMenuCollapse() {
            // Left menu collapse
            $('.button-menu-mobile').on('click', function (event) {
                event.preventDefault();
                $("body").toggleClass("enlarged");
                initSlimscrollMenu();
            });
        }

        function initEnlarge() {
            if ($(window).width() < 1025) {
                $('body').addClass('enlarged');
            } else {
                if ($('body').data('keep-enlarged') != true)
                    $('body').removeClass('enlarged');
            }
        }

        function initActiveMenu() {
            // === following js will activate the menu in left side bar based on url ====
            $("#sidebar-menu a").each(function () {
                var pageUrl = window.location.href.split(/[?#]/)[0];
                if (this.href == pageUrl) {
                    $(this).addClass("active");
                    $(this).parent().addClass("active"); // add active to li of the current link
                    $(this).parent().parent().addClass("in");
                    $(this).parent().parent().prev().addClass("active"); // add active class to an anchor
                    $(this).parent().parent().parent().addClass("active");
                    $(this).parent().parent().parent().parent().addClass("in"); // add active to li of the current link
                    $(this).parent().parent().parent().parent().parent().addClass("active");
                }
            });
        }

        function init() {
            initSlimscrollMenu();
            initSlimscroll();
            initMetisMenu();
            initLeftMenuCollapse();
            initEnlarge();
            initActiveMenu();
        }

        init();

    })(jQuery)
</script>