
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Manage Tickets</h4>

                        <div class="text-center mt-4 mb-4">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class="card-box widget-flat border-custom bg-custom text-white">
                                        <i class="fi-tag"></i>
                                        <h3 class="m-b-10">{{countall}}</h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Tổng hành khách</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class="card-box bg-primary widget-flat border-primary text-white">
                                        <i class="fi-archive"></i>
                                        <h3 class="m-b-10">{{counttrue}}</h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Đã xác nhận</p>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class="card-box widget-flat border-success bg-success text-white">
                                        <i class="fi-help"></i>
                                        <h3 class="m-b-10">{{countnottrue}}</h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Chưa xác nhận</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>


                        <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <button class="btn btn-confirm" ng-click="Export()">Xuất Exel</button>
                            </div>
                                <div class="col-sm-12">
                                    <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap dataTable no-footer dtr-inline collapsed" cellspacing="0" width="100%" id="datatable" role="grid" aria-describedby="datatable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 45px;" aria-sort="ascending" aria-label="
                                                ID
                                            : activate to sort column descending">
                                                    STT
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 143px;" aria-label="Requested By: activate to sort column ascending">Tên hành khách</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 68px;" aria-label="Subject: activate to sort column ascending">Email</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 254px;" aria-label="Assignee: activate to sort column ascending">Ngày mua vé</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 51px;" aria-label="Status: activate to sort column ascending">Ghế</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 97px;" aria-label="Created Date: activate to sort column ascending">Trạng thái xác nhận</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr dir-paginate="item in bills | itemsPerPage:100">
                                                <td tabindex="0" class="sorting_1"><b>{{$index+1}}</b></td>
                                                <td>
                                                    <span class="ml-2">{{item.CustomerName}}</span>
                                                </td>

                                                <td>
                                                    {{item.CustomerMail}}
                                                </td>

                                                <td>
                                                    {{item.DatedBill}}
                                                </td>

                                                <td>
                                                    {{item.SeatName}}
                                                </td>

                                                <td>
                                                    <span class="badge badge-danger">{{item.Status}}</span>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 15 entries
                                    </div>
                                </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                <ul class="pagination">
                                    <li class="0" id="datatable_previous">
                                    <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                    <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                    <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>
                                    <li class="paginate_button page-item next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div>

    <footer class="footer text-right">
        2018 © HAPA. - Đặt vé xe trực tuyến
    </footer>
