<!DOCTYPE html>
<html>
<!-- Mirrored from xesaoviet.com.vn/gioi-thieu by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Oct 2018 11:06:06 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charSet="utf-8" class="next-head next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" class="next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" class="next-head" />
    <title class="next-head">Xe HAPA - Website chính thức của hãng xe HAPA đi Hà Nội - Lào Cai - Sapa</title>
    <link rel="stylesheet" href="~/XESAPA/static/css/w3.css" class="next-head" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="~/XESAPA/static/css/slick.min.css" class="next-head" />
    <link rel="stylesheet" type="text/css" href="~/XESAPA/static/css/slick-theme.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/tachyons.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/main.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker-custom.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/xesaoviet/color.css" class="next-head" />
  <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body class="sans-serif">
    <div id="__next">
        <div>
            <div>
                <header class="relative  w-100 z-max bg-color">
                    <header id="head" class="flex justify-between z-5 w-100 relative  items-center ph6-l ph3 sans-serif">
                        <a class="dib link " href="/Home/Index"><img class="h3-l h3 mb2 logo" src="~/XESAPA/static/img/37c87075-52fc-438e-a835-3c4b3577586f.png" /></a>
                        <nav class=" f6 b dn dn-m db-l z-999 content sans-serif   ">
                            <ul class="list mv0 ">
                                <li class=" dib relative mh25"><a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="index.html"></a></li>
                                <li class=" dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver"></div>
                                        <b class="underline absolute  b--black-10 bottom-margin"></b>Trang chủ
                                    </a>
                                </li>
                                <li class="dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/About">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin "></span>Giới thiệu
                                    </a>
                                </li>
                                <li class="dib relative mh25 ">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/News">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10  bottom-margin"></span>Tin tức
                                    </a>
                                </li>
                                <li class="dib dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/CheckTicket">
                                        <div class=" ba  b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin"></span>Kiểm Tra Vé
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class=" dib dn-l ">
                            <h2 class="pointer"><i class="fas fa-bars white"></i></h2>
                        </div>
                    </header>
                </header>
                <main class="cf darkgray" token="[object Object]">
                    <img src="~/XESAPA/static/xesaoviet/img/top-banner.jpg" class="w-100 " /><div class="f6 ph3 ph6-l center darkblue mt5">
    <div class="fl w-100 w-70-l tj  ph3 ph0-l">
        <h1 class="f3 lh-title post-title">GIỚI THIỆU XE HAPA</h1><div class="f6 lh-copy color ">
            <p>Trước tiên <strong>Công ty TNHH Minh Thành Phát</strong> với tên gọi Xe <span style="color: #ff0000;"><strong>HAPA</strong></span> xin gửi tới quý khách hàng lời chào trân trọng nhất!</p>
            <p>Công ty chúng tôi hiện đang kinh doanh về vận tải hành khách với quy mô lớn. Hiện chúng tôi phục vụ chuyên tuyến vận tải hành khách Hà Nội – Lào Cai – Sapa x`. Với giàn xe giường nằm cao cấp và nhận vận chuyển hàng hóa, chuyển phát nhanh, bán vé khứ hồi Hà Nội – Lào Cai – Sapa nhận đặt vé trực tuyến đặc biệt chúng tôi còn miễn phí giao vé tận nhà tại Lào Cai với tinh thần chuyên nghiệp đội ngũ nhân viên phục vụ khách hàng nhiệt tình. Chúng tôi hy vọng sẽ đáp ứng được mọi nhu cầu của quý khách.</p>
            <p>Chúng tôi sẽ chạy với lịch trình là 30 phút một chuyến qua các tuyến đường: Bến xe Mỹ Đình – Phạm Hùng – Cầu Giấy – Trần Duy Hưng – Láng – Ngã Tư Sở – Trường Chinh – Giải Phóng – Giáp Bát, quý khách có thể chuyển tiền nhanh chóng trong vòng 30 phút, chúng tôi còn có các dịch vụ bán vé khứ hồi ” mua một lần đi nhiều ngày” và bán vé các Tour đi sapa,Sài Gòn, Huế, Đà Nẵng v..v</p>
            <p>Hiện nay Công ty chúng tôi đang có các tuyến như: Mỹ Đình – Thái Bình, Giáp Bát – Nam Định, Giáp Bát – Ninh Bình, Hà Nội – Lào Cai – Sapa, Thái Bình – Lào Cai – Sapa và các chiều ngược lại. Và sắp tới chúng tôi còn mở thêm các tuyến khác để khách hàng đi lại thuận tiện hơn.</p>
            <p>Chúng tôi quan niệm rằng: Khách hàng là người quyết định sự tồn tại cũng như phát triển của công ty. Vì vậy ưu tiên hàng đầu của chúng tôi là đem đến cho khách hàng một chất lượng phục vụ hoàn hảo, phong cách phục vụ nhiệt tình, chuyên nghiệp đáp ứng được kỳ vọng của khách hàng.</p>
            <p><span style="color: #ff0000;"><strong>HAPA</strong></span> xin chân thành cảm ơn tới tất cả quý khách hàng đã và đang sử dụng dịch vụ xe khách của chúng tôi.</p>
            <p><strong>Mọi chi tiết xin quý khách vui lòng liên hệ: </strong></p>
            <p><strong>Phía Nam:</strong> 789 Đường Giải Phóng – Hoàng Mai – Hà Nội</p>
            <p><strong>Điện thoại: </strong>(04)37.638.638 – 04.36.686.358 – Fax: 04. 3668.6359</p>
            <p><strong>Phía Bắc:</strong> Số 7 Phạm Văn Đồng (Chân cầu vượt Xuân Thủy)</p>
            <p><strong>Điện thoại:</strong> 0437.687.687 – 04.37.921.266 – Fax: 04. 3792.1267</p>
        </div>
    </div>
    @*<div class="w-30 fr pl4-l dn db-l">
        <div>
            <div class="flex mb3">
                <div id="tab-most-reads" class="w-50 tab-news-header dib f5 b ttu pa2 pointer bw1 tc bt b--blue blue">Đọc nhiều</div>
                <div id="tab-recent-news" class="w-50 tab-news-header dib w-50 f5 b ttu pa2 pointer bw1 tc bt b--light-gray bg-vxr-gray">Bài mới</div>
            </div>
            <div id="divMostReads" class="tab-news db">
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/sao-viet-dong-hanh-cung-trung-thu-sin-chai-2018.html">HAPA đồng hành cùng TRUNG THU SÍN CHẢI 2018</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="sao-viet-dong-hanh-cung-trung-thu-sin-chai-2018.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/09/Into-150x150.png" class="db" alt="HAPA đồng hành cùng TRUNG THU SÍN CHẢI 2018" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-09-12T07:18:18</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/sao-viet-tiep-suc-hoc-duong-2018.html">HAPA TIẾP SỨC HỌC ĐƯỜNG 2018</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="sao-viet-tiep-suc-hoc-duong-2018.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/08/TSHD-150x150.jpg" class="db" alt="HAPA TIẾP SỨC HỌC ĐƯỜNG 2018" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-08-17T03:00:06</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/cac-mon-ngon-tai-sapa.html">CÁC MÓN NGON TẠI SAPA</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="cac-mon-ngon-tai-sapa.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/07/4-150x150.png" class="db" alt="CÁC MÓN NGON TẠI SAPA" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-07-20T13:55:42</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/nhung-li-do-de-ban-nen-di-phuot-sapa.html">NHỮNG LÍ DO ĐỂ BẠN NÊN ĐI PHƯỢT SAPA</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="nhung-li-do-de-ban-nen-di-phuot-sapa.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/06/phuot-150x150.png" class="db" alt="NHỮNG LÍ DO ĐỂ BẠN NÊN ĐI PHƯỢT SAPA" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-06-21T09:40:58</time>
                </article>
            </div>
            <div id="divRecentNews" class="tab-news dn">
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/sao-viet-dong-hanh-cung-trung-thu-sin-chai-2018.html">HAPA đồng hành cùng TRUNG THU SÍN CHẢI 2018</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="sao-viet-dong-hanh-cung-trung-thu-sin-chai-2018.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/09/Into-150x150.png" class="db" alt="HAPA đồng hành cùng TRUNG THU SÍN CHẢI 2018" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-09-12T07:18:18</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/sao-viet-tiep-suc-hoc-duong-2018.html">HAPA TIẾP SỨC HỌC ĐƯỜNG 2018</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="sao-viet-tiep-suc-hoc-duong-2018.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/08/TSHD-150x150.jpg" class="db" alt="HAPA TIẾP SỨC HỌC ĐƯỜNG 2018" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-08-17T03:00:06</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/cac-mon-ngon-tai-sapa.html">CÁC MÓN NGON TẠI SAPA</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="cac-mon-ngon-tai-sapa.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/07/4-150x150.png" class="db" alt="CÁC MÓN NGON TẠI SAPA" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-07-20T13:55:42</time>
                </article>
                <article class="pv2 bt bb b--black-10 ph3 ph0-l">
                    <div class="flex flex-column flex-row-ns">
                        <div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">
                            <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="tin-tuc/nhung-li-do-de-ban-nen-di-phuot-sapa.html">NHỮNG LÍ DO ĐỂ BẠN NÊN ĐI PHƯỢT SAPA</a></h1>
                        </div>
                        <div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="nhung-li-do-de-ban-nen-di-phuot-sapa.html"><img src="../xesaoviet.vexere.net/wp-content/uploads/2018/06/phuot-150x150.png" class="db" alt="NHỮNG LÍ DO ĐỂ BẠN NÊN ĐI PHƯỢT SAPA" /></a></div>
                    </div>
                    <time class="f6 db gray">2018-06-21T09:40:58</time>
                </article>
            </div>
        </div>
    </div>*@
</div>
                </main>
            </div>
            <script defer="" src="../use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
            <script type="text/javascript" src="vendor.html"></script>
            <script type="text/javascript" src="app.html"></script>
            <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-49164120-4"></script>
            <script type="text/javascript" src="~/XESAPA/static/xesaoviet/gTag.js"></script>
            <footer class="tl f5 bg-color black-color">
                <div class="cf ph3 ph6-l center flex flex-wrap pb4">
                    <div class="w-100 w-33-l pv3">
                        <p class="f5 b pb2 black-color bb b--light-blue">Kết nối với chúng tôi</p>
                        <h3 class="black-color f3 b pb0 ttu mt0 mb1">HAPA</h3>
                        <div class="black-color tj lh-copy">Xe Khách HAPA được biết đến như là một thương hiệu uy tín trong lĩnh vực vận tải hành khách chất lượng cao và dịch vụ chuyển phát nhanh bằng ô tô.</div>
                        <p><i class="fas fa-location-arrow mr2"></i>789 Giải Phóng</p>
                        <p><i class="fas fa-phone mr2"></i>(024) 3668.6358</p>
                        <p></p>
                        <p class="mt4"><i class="fab f3 fa-facebook mr2" aria-hidden="true"></i><i class="fab f3 fa-twitter-square mr2"></i><i class="fab f3 fa-google-plus-square mr2"></i></p>
                    </div>
                    <div class="w-100 w-33-l pa3-l black-color">
                        <p class="f5 b pb2 black-color bb b--light-blue">Liên kết nhanh</p>
                        <ul class="pl3 f5 lh-copy ">
                            <li class=""><a class="black-color link dim" href="/Home/Index">Trang chủ</a></li>
                            <li class=""><a class="black-color link dim" href="/Home/News">Tin tức</a></li>
                            <li class=""><a class="black-color link dim" href="/Home/About">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="w-100 w-33-l pv3">
                        <p class="f5 b pb2 black-color bb b--light-blue">Đăng ký nhận tin tức</p>
                        <p class="black-color tj lh-copy">Bạn muốn biết thông tin khuyến mãi? Bạn muốn mua vé trực tuyến? bạn muốn nhận tin tức và sự kiện hoạt động của Xe Khách HAPA? Hãy đăng ký chúng tôi</p>
                        <form class="" action="#" name="Đăng ký nhận tin">
                            <fieldset class="cf bn ma0 pa0">
                                <input type="text" class="db w-70  input-reset fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Họ và tên" name="name" value="" />
                                <input type="text" class="db w-70  input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Số điện thoại" name="phone" value="" id="from" />
                                <div class="dib w-70 mb2"><input type="text" class="w-100  input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns  ba b--light-gray" placeholder="Địa chỉ email" name="email" autoComplete="email" value="" id="from" /></div>
                                <div class="dib w-30 mb2 pl2"><input type="submit" class="w-100  ph2 button-reset fl tc bn bg-animate bg-cta color-cta b hover-bg-light-yellow  pointer br2-ns" value="Đăng ký" /></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="cf ph3 ph6-l p-undefined poweredby pv2 v-mid">
                    <p class="fl fr-l pt1">© 2018 - HAPA. All Right Reserved</p>
                </div>
                <div class="floatingbuttons"></div>
            </footer>
            <script type="text/javascript" src="~/XESAPA/static/xesaoviet/count-visitors.js"></script>

        </div>

   </body>
</html>