<!DOCTYPE html>
<html>
<!-- Mirrored from xesaoviet.com.vn/tin-tuc by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Oct 2018 11:07:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->
<head>
    <meta charSet="utf-8" class="next-head next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" class="next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" class="next-head" />
    <title class="next-head">Xe HAPA - Website chính thức của hãng xe HAPA đi Hà Nội - Lào Cai - Sapa</title>


    <link rel="stylesheet" href="~/XESAPA/static/css/react-datetime.css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css" class="next-head" />
    <link REL="SHORTCUT ICON" href="~/XESAPA/static/xesaoviet/img/logo.jpg" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/w3.css" class="next-head" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="~/XESAPA/static/css/slick.min.css" class="next-head" />
    <link rel="stylesheet" type="text/css" href="~/XESAPA/static/css/slick-theme.min.css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/tachyons.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/main.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker-custom.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/xesaoviet/color.css" class="next-head" />

    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body class="sans-serif">
    <div id="__next">
        <div>
            <div>
                <header class="relative  w-100 z-max bg-color">
                    <header id="head" class="flex justify-between z-5 w-100 relative  items-center ph6-l ph3 sans-serif">

                        <a class="dib link " href="/Home/Index"><img class="h3-l h3 mb2 logo" src="~/XESAPA/static/img/37c87075-52fc-438e-a835-3c4b3577586f.png" /></a>
                        <nav class=" f6 b dn dn-m db-l z-999 content sans-serif   ">
                            <ul class="list mv0 ">
                                <li class=" dib relative mh25"><a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index"></a></li>
                                <li class=" dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver"></div>
                                        <b class="underline absolute  b--black-10 bottom-margin"></b>Trang chủ
                                    </a>
                                </li>
                                <li class="dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/About">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin "></span>Giới thiệu
                                    </a>
                                </li>
                                <li class="dib relative mh25 ">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/News">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10  bottom-margin"></span>Tin tức
                                    </a>
                                </li>
                                <li class="dib dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/CheckTicket">
                                        <div class=" ba  b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin"></span>Kiểm Tra Vé
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class=" dib dn-l ">
                            <h2 class="pointer"><i class="fas fa-bars white"></i></h2>
                        </div>
                    </header>
                </header>
                <main class="cf darkgray" token="[object Object]">
                    <img src="~/XESAPA/static/xesaoviet/img/top-banner.jpg" class="w-100 " />
                    <br />
                    <br />
                    <section class="ph3 ph6-l pt4 bg-vxr-gray pb4 pb5-ns" id="Thankyou">
                        <div class="col-">
                            <div class="col-" style="text-align:center;">
                                <p class="col-" style="color:red;">HAPA Xin chân thành cảm ơn!</p>
                                <p class="col-">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
                                <p class="col-">Chúc bạn có một ngày mới vui vẻ.</p>
                            </div>
                        </div>

                    </section>
                </main>
            </div>

            <footer class="tl f5 bg-color black-color">
                <div class="cf ph3 ph6-l center flex flex-wrap pb4">
                    <div class="w-100 w-33-l pv3">
                        <p class="f5 b pb2 black-color bb b--light-blue">Kết nối với chúng tôi</p>
                        <h3 class="black-color f3 b pb0 ttu mt0 mb1">HAPA</h3>
                        <div class="black-color tj lh-copy">Xe Khách HAPA được biết đến như là một thương hiệu uy tín trong lĩnh vực vận tải hành khách chất lượng cao và dịch vụ chuyển phát nhanh bằng ô tô.</div>
                        <p><i class="fas fa-location-arrow mr2"></i>789 Giải Phóng</p>
                        <p><i class="fas fa-phone mr2"></i>(024) 3668.6358</p>
                        <p></p>
                        <p class="mt4"><i class="fab f3 fa-facebook mr2" aria-hidden="true"></i><i class="fab f3 fa-twitter-square mr2"></i><i class="fab f3 fa-google-plus-square mr2"></i></p>
                    </div>
                    <div class="w-100 w-33-l pa3-l black-color">
                        <p class="f5 b pb2 black-color bb b--light-blue">Liên kết nhanh</p>
                        <ul class="pl3 f5 lh-copy ">
                            <li class=""><a class="black-color link dim" href="/Home/Index">Trang chủ</a></li>
                            <li class=""><a class="black-color link dim" href="/Home/News">Tin tức</a></li>
                            <li class=""><a class="black-color link dim" href="/Home/About">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="w-100 w-33-l pv3">
                        <p class="f5 b pb2 black-color bb b--light-blue">Đăng ký nhận tin tức</p>
                        <p class="black-color tj lh-copy">Bạn muốn biết thông tin khuyến mãi? Bạn muốn mua vé trực tuyến? bạn muốn nhận tin tức và sự kiện hoạt động của Xe Khách HAPA? Hãy đăng ký chúng tôi</p>
                        <form class="" action="#" name="Đăng ký nhận tin">
                            <fieldset class="cf bn ma0 pa0">
                                <input type="text" class="db w-70  input-reset fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Họ và tên" name="name" value="" />
                                <input type="text" class="db w-70  input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Số điện thoại" name="phone" value="" id="from" />
                                <div class="dib w-70 mb2">
                                    <input type="text" class="w-100  input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns  ba b--light-gray" placeholder="Địa chỉ email" name="email" autoComplete="email" value="" id="from" />
                                </div>
                                <div class="dib w-30 mb2 pl2"><input type="submit" class="w-100  ph2 button-reset fl tc bn bg-animate bg-cta color-cta b hover-bg-light-yellow  pointer br2-ns" value="Đăng ký" /></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="cf ph3 ph6-l p-undefined poweredby pv2 v-mid">

                    <p class="fl fr-l pt1">© 2018 - HAPA. All Right Reserved</p>
                </div>
                <div class="floatingbuttons"></div>
            </footer>
        </div>
    </div>
    <div id="__next-error"></div>
    <script src="~/Assets/admin/js/abc.js"></script>

    <script>
        $(document).on('ready', function () {
            $.ajax({
                url: '/api/booking/confirmmail?id=@ViewBag.idBill&confirmcode=@ViewBag.confirmCode',
                type: 'post',
                success: function (data) {
                    if (data != null) {
                        console.log("Success");
                    }
                    else {
                        console.log("False");
                    }
                },

            });
        })
    </script>
</body>
</html>

