<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->
<head>
    <meta charSet="utf-8" class="next-head next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" class="next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" class="next-head" />
    <title class="next-head">HAPA - Website đặt vé xe đi Hà Nội - Lào Cai - Sapa</title>
    <link href="~/Assets/admin/css/abc.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootrap.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css" class="next-head" />
    <link REL="SHORTCUT ICON" href="~/XESAPA/static/xesaoviet/img/logo.jpg" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/w3.css" class="next-head" />
    <link href="~/Assets/admin/css/slick.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/slick-theme.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/tachyons.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/main.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/xesaoviet/color.css" class="next-head" />


    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <style type="text/css">
        #mask {
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 4;
            opacity: 0.4;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* first!*/
            filter: alpha(opacity=40); /* second!*/
            background-color: gray;
            display: none;
            width: 100%;
            height: 100%;
        }

        #holder {
            height: 200px;
            width: 550px;
            background-color: #F5F5F5;
            border: 1px solid #A4A4A4;
            margin-left: 10px;
        }

        #place {
            position: relative;
            margin: 7px;
        }

            #place a {
                font-size: 0.6em;
            }

            #place li {
                list-style: none outside none;
                position: absolute;
            }

                #place li:hover {
                    background-color: yellow;
                }

            #place .seat {
                background: url("../../Assets/admin/img/available_seat_img.gif") no-repeat scroll 0 0 transparent;
                height: 33px;
                width: 33px;
                display: block;
            }

            #place .selectedSeat {
                background-image: url("../../Assets/admin/img/booked_seat_img.gif");
            }

            #place .selectingSeat {
                background-image: url("../../Assets/admin/img/selected_seat_img.gif");
            }

            #place .row-3, #place .row-4 {
                margin-top: 10px;
            }

        #seatDescription li {
            list-style: none outside none;
            padding-left: 35px;
            height: 35px;
            margin-top: 5px;
            float: left;
        }

        .popUp label {
            width: 4em;
            float: left;
            text-align: right;
            margin-right: 0em;
            display: block;
        }

        .popUp input {
        }
    </style>
</head>
<body class="sans-serif">
    <div id="next">
        <div>
            <div>
                <header class="relative fixed w-100 z-max color-font bg-translate" style="height:70px;">
                    <header id="head" class="flex justify-between z-5 w-100 relative  items-center ph6-l ph3 sans-serif" style="height:70px;">
                        @*<a class="dib link " href="index.html"><img class="h3-l h3 mb2 logo" src="~/XESAPA/static/xesaoviet/img/xesaoviet.png" /></a>*@
                        <a class="dib link " href="/Home/Index"><img src="~/XESAPA/static/img/37c87075-52fc-438e-a835-3c4b3577586f.png" /></a>
                        <nav class=" f6 b dn dn-m db-l z-999 content sans-serif">
                            <ul class="list mv0 ">
                                <li class=" dib relative mh25"><a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="index.html"></a></li>
                                <li class=" dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver"></div>
                                        <b class="underline absolute  b--black-10 bottom-margin"></b>Trang chủ
                                    </a>
                                </li>
                                <li class="dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/About">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin "></span>Giới thiệu
                                    </a>
                                </li>
                                <li class="dib relative mh25 ">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/News">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10  bottom-margin"></span>Tin tức
                                    </a>
                                </li>
                                <li class="dib dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/CheckTicket">
                                        <div class=" ba  b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin"></span>Kiểm Tra Vé
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class=" dib dn-l ">
                            <h2 class="pointer"><i class="fas fa-bars white"></i></h2>
                        </div>
                    </header>
                </header>
                <main class="cf darkgray">
                    <div style="position:fixed;bottom:50px;right:30px;cursor:pointer;transition-duration:0.2s;transition-timing-function:linear;transition-delay:0s;opacity:0;visibility:hidden;transition-property:opacity, visibility"><span class=" grow z-999 relative"><i class="fas fa-arrow-circle-up relative f1 color z-999 grow hover-red"></i></span></div>
                    <div>
                        <section class="top-banner tc center z-0 bg-color color">
                            <div class=" vh-100-l vh-50-m  w-100 h-100  margin-top  pt2-l pt0  f0 db-l dn">
                                <div>
                                    <div class="slick-slider slick-vertical slick-initialized" dir="ltr">
                                        <button type="button" data-role="none" class="slick-arrow slick-prev" style="display:block">
                                            <!-- -->Previous
                                        </button>
                                        <div class="slick-list">
                                            <div class="slick-track" style="width:1500%;left:-100%">
                                                <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/1.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50 " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/xe-ha-son-hai-van-VIP-Royal-ivivu-8.jpg" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/2.jpg" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/Slider8.png" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/3.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/6.2.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/5.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/1.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50 " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/Slider3.png" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/2.jpg" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/Slider8.png" class="w-100 h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="10" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/3.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/6.2.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="12" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/5.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                                <div data-index="13" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:6.666666666666667%">
                                                    <div>
                                                        <div class="vh-100-l vh-50-m vh-50  " tabindex="-1" style="width:100%;display:inline-block"><img src="~/XESAPA/static/img/1.jpg" class="w-100  h-100" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" data-role="none" class="slick-arrow slick-next" style="display:block">
                                            <!-- -->Next
                                        </button>
                                        <ul style="display:block" class="slick-dots">
                                            <li class="slick-active"><button>1</button></li>
                                            <li class=""><button>2</button></li>
                                            <li class=""><button>3</button></li>
                                            <li class=""><button>4</button></li>
                                            <li class=""><button>5</button></li>
                                            <li class=""><button>6</button></li>
                                            <li class=""><button>7</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class=" dn-l db  "><img src="~/XESAPA/static/img/Slider3.png" class="w-100 h-100 " /></div>
                    </div>
                    <div class="tsb-bg-color db relative w-100 z-3  ph3 ph6-l tl">
                        <div class="pv3  br1 br--bottom b--black-10">
                            <fieldset class="bn ma0 pa0 ">
                                <div class="cf flex flex-wrap  justify-between">

                                    <div class="w-100 w-25-l pr2-l pb2 pb0-l relative">
                                        <span class=" red absolute top--2 br2 bg-white db-l dn pr2-l z-999"></span>
                                        <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-1" aria-expanded="false" class="react-autosuggest__container">
                                            <select id="StartPoint" value="" autoComplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" class=" ba b--red f5 input-reset bn w-100 db black-80 bg-white pa2 lh-copy br2-ns "></select>
                                            <div id="react-autowhatever-1" role="listbox" class="react-autosuggest__suggestions-container"></div>
                                        </div>
                                        <span class=" red dn-l db top--2 br1 bg-white  pr2-l z-999"></span>
                                    </div>
                                    <div class="w-100 w-25-l pr2-l pb2 pb0-l relative ">
                                        <span class=" red absolute top--2 br3 bg-white db-l dn pr2-l z-999"></span>
                                        <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-1" aria-expanded="false" class="react-autosuggest__container">
                                            <select id="EndPoint" value="" autoComplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" class=" ba b--red f5 input-reset bn w-100 db black-80 bg-white pa2 lh-copy br2-ns "></select>
                                            <div id="react-autowhatever-1" role="listbox" class="react-autosuggest__suggestions-container"></div>
                                        </div>
                                        <span class=" red dn-l db top--2 br1 bg-white  pr2-l z-999"></span>
                                    </div>
                                    <div class="w-100  w-25-l pr2-l pb2 pb0-l">
                                        <div>
                                            <div class="react-datepicker-wrapper">
                                                <div class="react-datepicker__input-container">
                                                    <div class='input-group date' id='datetimepicker3'>
                                                        <input type='text' id="datetimea" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 w-25-l  pb0-l relative">
                                        <div class="absolute w-100 tc db-l dn">
                                            <p class="font-size-hotline pv2 mv0 db-l dn w-100 absolute bg-color bottom-0 b pa1 ttu bn"><span class="tc  "><a class="" href="tel: 1900 6746" title="Nhấn vào để gọi">HotLine: 1900 6746</a></span></p>
                                        </div>
                                        <input id="btnSearchCar" type="button" class="w-100 h-100 f5 button-reset ph3 pv2  tc bn bg-animate btn-bg-color hover-bg-red white pointer br2-ns lh-copy shadow-1" value="Tìm Vé Xe Rẻ" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    </section>
                    <section></section>
            </div>
            <hr />
            <div>
                <ul class="col-12" style="list-style:none; padding-left:0px;" id="showCar">
                    <!--Result Search Cars-->
                    <!--Select Seat-->

                </ul>
            </div>
            <hr />
            <section class="center ph6-l" id="idSlick">
                @*<div class="color f5 center cf db-l dn mv3" id="idslick">*@
                <div><img src="~/XESAPA/static/img/sao-viet-xe-vip-02.png" class="w-100 h-100" /></div>
                <div><img src="~/XESAPA/static/img/sao-viet-xe-vip-03.png" class="w-100 h-100" /></div>
                <div><img src="~/XESAPA/static/img/sao-viet-xevip-04.png" class="w-100 h-100" /></div>
                @*</div>*@
            </section>
            <section class="ph3 ph6-l pt4 bg-vxr-gray pb4 pb5-ns">
                <a href="/Home/About" class="link dim"></a>
                <div class="dt flex flex-wrap">
                    <div class="dtc v-top w-100 w-50-l color pr5-l pr2-l">
                        <p class="f3 f3-l post-title v-top ma0 dib mb2">GIỚI THIỆU XE HAPA</p>
                        <p class="f5 color"><i class="fas fa-home mr2"></i>Số 789 Giải Phóng - Hoàng Mai - Hà Nội</p>
                        <div class="f5 lh-copy tj">
                            <p>Trước tiên <strong>Công ty TNHH Minh Thành Phát</strong> với tên gọi Xe <span style="color: #ff0000;"><strong>HAPA</strong></span> xin gửi tới quý khách hàng lời chào trân trọng nhất!</p>
                            <p>Công ty chúng tôi hiện đang kinh doanh về vận tải hành khách với quy mô lớn. Hiện chúng tôi phục vụ chuyên tuyến vận tải hành khách Hà Nội – Lào Cai – Sapa . Với giàn xe giường nằm cao cấp và nhận vận chuyển hàng hóa, chuyển phát nhanh, bán vé khứ hồi Hà Nội – Lào Cai – Sapa nhận đặt vé trực tuyến đặc biệt chúng tôi còn miễn phí giao vé tận nhà tại Lào Cai với tinh thần chuyên nghiệp đội ngũ nhân viên phục vụ khách hàng nhiệt tình. </p>
                        </div>
                    </div>
                    <div class="dtc v-top w-100 w-50-l center"><img src="~/XESAPA/static/img/Cover-1.png" alt="GIỚI THIỆU XE HAPA" class="w-100 db grow br3 shadow-5" /></div>
                </div>

            </section>
            

            </main>
        </div>
        <footer class="tl f5 bg-color black-color">
            <div class="cf ph3 ph6-l center flex flex-wrap pb4">
                <div class="w-100 w-33-l pv3">
                    <p class="f5 b pb2 black-color bb b--light-blue">Kết nối với chúng tôi</p>
                    <h3 class="black-color f3 b pb0 ttu mt0 mb1">HAPA</h3>
                    <div class="black-color tj lh-copy">Xe Khách HAPA được biết đến như là một thương hiệu uy tín trong lĩnh vực vận tải hành khách chất lượng cao và dịch vụ chuyển phát nhanh bằng ô tô.</div>
                    <p><i class="fas fa-location-arrow mr2"></i>789 Giải Phóng</p>
                    <p><i class="fas fa-phone mr2"></i>(024) 3668.6358</p>
                    <p></p>
                    <p class="mt4"><i class="fab f3 fa-facebook mr2" aria-hidden="true"></i><i class="fab f3 fa-twitter-square mr2"></i><i class="fab f3 fa-google-plus-square mr2"></i></p>
                </div>
                <div class="w-100 w-33-l pa3-l black-color">
                    <p class="f5 b pb2 black-color bb b--light-blue">Liên kết nhanh</p>
                    <ul class="pl3 f5 lh-copy ">
                        <li class=""><a class="black-color link dim" href="/Home/Index">Trang chủ</a></li>
                        <li class=""><a class="black-color link dim" href="bang-gia.html">Bảng giá</a></li>
                        @*<li class=""><a class="black-color link dim" href="dich-vu.html">Dịch vụ</a></li>*@
                        <li class=""><a class="black-color link dim" href="tin-tuc.html">Tin tức</a></li>
                        <li class=""><a class="black-color link dim" href="lien-he.html">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="w-100 w-33-l pv3">
                    <p class="f5 b pb2 black-color bb b--light-blue">Đăng ký nhận tin tức</p>
                    <p class="black-color tj lh-copy">Bạn muốn biết thông tin khuyến mãi? Bạn muốn mua vé trực tuyến? bạn muốn nhận tin tức và sự kiện hoạt động của Xe Khách HAPA? Hãy đăng ký chúng tôi</p>
                    <form class="" action="#" name="Đăng ký nhận tin">
                        <fieldset class="cf bn ma0 pa0">
                            <input type="text" class="db w-70 h2 input-reset fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Họ và tên" name="name" value="" /><input type="text" class="db w-70 h2 input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns mb2 ba b--light-gray" placeholder="Số điện thoại" name="phone" value="" id="from" />
                            <div class="dib w-70 mb2"><input type="text" class="w-100 h2 input-reset  fl black-80 bg-light-gray pa2 lh-solid br2-ns  ba b--light-gray" placeholder="Địa chỉ email" name="email" autoComplete="email" value="" id="from" /></div>
                            <div class="dib w-30 mb2 pl2"><input type="submit" class="w-100 h2 ph2 button-reset fl tc bn bg-animate bg-cta color-cta b hover-bg-light-yellow  pointer br2-ns" value="Đăng ký" /></div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="cf ph3 ph6-l p-undefined poweredby pv2 v-mid">
                <p class="fl fr-l pt1">© 2018 - HAPA. All Right Reserved</p>
            </div>
        </footer>


    </div>
    <script src="~/Assets/admin/js/abc.js"></script>
    <script src="~/Assets/admin/js/slick.js"></script>
    <script src="~/Assets/admin/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(document).on('ready', function () {
            $("#1115").show();
            $("#idSlick").slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
            $('#datetimepicker3').datepicker({ dateFormat: 'mm-dd-yy' });
            var a = new Date();
            var d = a.getDay() + 3;
            var m = a.getMonth() + 1;
            var y = a.getFullYear();
            var full = m + "/" + d + "/" + y;
            $("#datetimea").val(full);
            console.log(full);


        })

        //ajax get all Route

        $.ajax({
            url: '/api/route/getallfront',
            type: 'get',
            success: function (data) {
                var htmlstart = "<option>- Chọn nơi đi -</option>";
                var htmlend = "<option>- Chọn nơi đến -</option>";
                for (var i = 0; i < data.length; i++) {
                    htmlstart += "<option value='" + data[i].StartPoint + "'>" + data[i].StartPoint + "</option >";
                    htmlend += "<option value='" + data[i].EndPoint + "'>" + data[i].EndPoint + "</option >";
                }
                $('#StartPoint').append(htmlstart);
                $('#EndPoint').append(htmlend);
            },

        });

        //lấy danh sách xe theo điểm đón trả

        $("#btnSearchCar").click(function () {
            var StartPoint = $("#StartPoint option:selected").text();
            var EndPoint = $("#EndPoint option:selected").text();

            var time = 0;
            var date = $("#datetimea").val();

            var datepare = new Date(date);
            var mili = datepare.getTime();

            var timess = new Date();

            var mili2 = timess.getTime();

            if (mili < mili2) {
                $("#showCar").empty();
                $("#showCar").append("Ngày đi không hợp lệ");
            }
            else {
                var data = { startPoint: StartPoint, endPoint: EndPoint, dateBook: date, timeStart: time };
                $.ajax({
                    url: '/api/car/getcarbypoint',
                    type: 'get',
                    data: data,
                    success: function (data) {
                        $("#showCar").empty();
                        if (data.length == 0) {
                            $("#showCar").append("Không tìm thấy xe thoả mãn");
                        }
                        else {
                            console.log(data);
                            binData(data);
                            $("#showCar").show();

                        }
                    }
                });
            }
        });

        function binData(item) {
            var date = $("#datetimea").val();
            var html = "";
            var count = 5;
            for (var i = 0; i < item.length; i++) {
                $("#" + item[i].IDCar + "").hide();
                html += '<li class="result-item col-12" style=" padding-top:30px;">';
                html += '<div class="container">';
                html += '<div class="hidden-xs">';
                html += '<div class="col-sm-2">';
                html += '    <div class="row">';
                html += '        <div class="pull-left comp-name-container">';
                html += '            <h3 class="mt0 mb0 comp-name-title  text-red" style="color:red; margin:auto auto auto auto" title="HAPA">' + item[i].NameCar + '</h3>';
                html += '<span hidden id="route' + item[i].IDCar + '">' + item[i].IDRoute + '</span>';
                html += '        </div>';
                html += '    </div>';
                html += '</div>';
                html += '<div class="col-sm-5 detail-route">';
                html += '    <div class="col-12 ml10" style="text-align: center;">';
                html += '        <div class="col-sm-5 text-left-from">';
                html += '            <h6 class="span-from-time mt0 mb5" >Khởi hành : <span id="timeStart' + item[i].IDCar +'">' + item[i].TimeStart + '</span>h</h6 > ';
                html += '        </div>';
                html += '        <div class="col-sm-2 text-left" style="padding: 0px;">';
                html += '            <i class="text-gray3 left-arrow" style="width: 100%; display: inline-block; margin-top: -10px; font-size: 12px; text-align: center;">';
                html += '                <br>';
                html += '                    <img src="/Assets/admin/img/from-to2.png" style="width: 100%; height: 10px;">';
                html += '                 </i>';
                html += '                </div>';
                html += '                <div class="col-sm-5 text-left-to">';
                html += '                    <h6 class="span-to-time-mobi mt0 mb5 text-gray3"></h6>';
                html += '                </div>';
                html += '                <div class="clearfix"></div>';
                html += '                <div class="pull-left hidden-sm" style="width: 100%;">';
                html += '                    <div class="col-5 col-md-5 col-sm-5 text-left">';
                html += '                        <a class="depart-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text black-text">' + item[i].StartPoint + '</a>';
                html += '                    </div>';
                html += ''
                html += '                   <div class="col-5 col-md-5 col-sm-5 text-right">';
                html += '                        <a class="depart-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text black-text">' + item[i].EndPoint + '</a>';
                html += '                    </div>';
                html += '                </div>';
                html += '            </div>';
                html += '        </div>';
                html += '        <div class="col-sm-3">';
                html += '            <div class="clearfix"></div>';
                html += '            <div class="service-call seats-text text-left">';
                html += '                <p class="num-avalible-seats">';
                html += item[i].Count;
                html += '                    <span>Ghế trống</span>';
                html += '                </p>';
                html += '            </div>';
                html += '        </div>';
                html += '    </div>';
                html += '    <div class="text-right col-sm-2 pr0">';
                html += '        <h6 class="mt0 price 14">';
                html += '            <span></span><!-- react-text: 6166 -->210.000<!-- /react-text --><!-- react-text: 6167 --> <!-- /react-text --><small class="unit-price-small" style="vertical-align: top;">đ</small>';
                html += '        </h6>';
                html += '        <button id="abcsearch" value="' + item[i].IDCar + '" class="btn btn-warning" onclick=searchSeat(' + item[i].IDCar +') >Chọn chỗ</button>';
                html += '    </div>';
                html += '</div>';
                html += '<li id="' + item[i].IDCar + '" class="ticket-booking-details ticket-booking-detail-seat-selection col-12 col-md-12 col-xs-12" style="margin: 0px; padding: 0px;">';

                html += '</li>';
                html += '</li > <hr />';
            }

            $("#showCar").append(html);
        };

        function searchSeat(idCar) {
            var date = $("#datetimea").val();
            var StartPoint = $("#StartPoint option:selected").text();
            var EndPoint = $("#EndPoint option:selected").text(); 
            var time = $("#timeStart" + idCar + "").text();
            var idroute = $("#route" + idCar + "").text();
            //alert(idCar + date);
            window.location = "/Home/NextStep?id=" + idCar + '&date=' + date + '&start=' + StartPoint + '&end=' + EndPoint + "&timeStart=" + time + "&route=" + idroute;
        };
   </script>
    

</body>
</html>

