<!DOCTYPE html>
<html>
<!-- Mirrored from xesaoviet.com.vn/tin-tuc/sao-viet-dong-hanh-cung-trung-thu-sin-chai-2018 by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Oct 2018 11:06:22 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charSet="utf-8" class="next-head next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" class="next-head" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" class="next-head" />
    <title class="next-head">Xe HAPA - Website chính thức của hãng xe HAPA đi Hà Nội - Lào Cai - Sapa</title>


    <link rel="stylesheet" href="~/XESAPA/static/css/react-datetime.css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css" class="next-head" />
    <link REL="SHORTCUT ICON" href="~/XESAPA/static/xesaoviet/img/logo.jpg" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/w3.css" class="next-head" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="~/XESAPA/static/css/slick.min.css" class="next-head" />
    <link rel="stylesheet" type="text/css" href="~/XESAPA/static/css/slick-theme.min.css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css" class="next-head" />
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/tachyons.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker.min.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/main.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/css/react-datepicker-custom.css" class="next-head" />
    <link rel="stylesheet" href="~/XESAPA/static/xesaoviet/color.css" class="next-head" />

    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body class="sans-serif">
    <div id="__next">
        <div>
            <div>
                <header class="relative  w-100 z-max bg-color">
                    <header id="head" class="flex justify-between z-5 w-100 relative  items-center ph6-l ph3 sans-serif">

                        <a class="dib link " href="/Home/Index"><img class="h3-l h3 mb2 logo" src="~/XESAPA/static/img/37c87075-52fc-438e-a835-3c4b3577586f.png" /></a>
                        <nav class=" f6 b dn dn-m db-l z-999 content sans-serif   ">
                            <ul class="list mv0 ">
                                <li class=" dib relative mh25"><a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index"></a></li>
                                <li class=" dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/Index">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver"></div>
                                        <b class="underline absolute  b--black-10 bottom-margin"></b>Trang chủ
                                    </a>
                                </li>
                                <li class="dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/About">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin "></span>Giới thiệu
                                    </a>
                                </li>
                                <li class="dib relative mh25 ">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/News">
                                        <div class=" ba b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10  bottom-margin"></span>Tin tức
                                    </a>
                                </li>
                                <li class="dib dib relative mh25">
                                    <a class="link dib lh-copy dtc v-mid hover-red  relative ttc top-5 height" href="/Home/CheckTicket">
                                        <div class=" ba  b--black-10 absolute rate bottom-margin w-100 bg-light-silver "></div>
                                        <span class="underline1 absolute  b--black-10 bottom-margin"></span>Kiểm Tra Vé
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class=" dib dn-l ">
                            <h2 class="pointer"><i class="fas fa-bars white"></i></h2>
                        </div>
                    </header>
                </header>
                <div class="f6 ph3 ph6-l center darkblue">
                    <div class="f6 ph3 ph6-l center darkblue mt5_5" id="zonePost">
                        
                    </div>
                    <!--Right Menu-->
                    <div class="w-30 fr pl4-l dn db-l">
                        <div>
                            <div class="flex mb3">
                                <div id="tab-recent-news" class="w-50 tab-news-header dib w-50 f5 b ttu pa2 pointer bw1 tc bt b--light-gray bg-vxr-gray">Bài mới</div>
                            </div>
                            <div id="divMostReads" class="tab-news db">

                            </div>

                        </div>
                    </div>
                </div>
                </main>
            </div>
            <script src="~/Assets/admin/js/abc.js"></script>
        </div>
    </div>

    <script>
        $(document).on('ready', function () {
            GetAllPost();
            GetPostDetail()
        })

        function GetAllPost() {
            $.ajax({
                url: '/api/post/getall?keyword=',
                type: 'get',
                success: function (data) {
                    bindToView(data);
                },

            });
        }
        function GetPostDetail() {
            $.ajax({
                url: '/api/post/getbyid/'+@ViewBag.id+'',
                type: 'get',
                success: function (data) {
                    bindPostDetail(data);
                },
            });
        }

        function bindPostDetail(item) {
            var htmlpost = "";
            htmlpost += '<div class="fl w-100 w-70-l tj  ph3 ph0-l">';
            htmlpost += '<h1 class="f3 lh-title post-title">'+item.Name+'</h1><div class="f6 lh-copy color ">';
            htmlpost += '        <p>&nbsp;</p>';

            htmlpost += item.Content;
            htmlpost += '        </div>';

            $("#zonePost").empty();
            $("#zonePost").append(htmlpost);
        }

        function bindToView(item) {
            var html2 = "";
            for (var i = 0; i < item.length; i++) {
               

                //RightPost
                html2 += '<article class="pv2 bt bb b--black-10 ph3 ph0-l">';
                html2 += '    <div class="flex flex-column flex-row-ns">';
                html2 += '<div class="w-100 w-60-ns pr3-ns order-2 order-2-ns">';
                html2 += '   <h1 class="f6 sans-serif mt0 lh-title"><a class="link dim dark-gray" href="/Home/NewDetal/' + item[i].ID + '">' + item[i].Name + '</a></h1>';
                html2 += '</div>';
                html2 += '<div class="pr3-ns order-1 order-1-ns mw4 mb4 mb0-ns w-100 w-70-ns"><a href="/Home/NewDetal/' + item[i].ID + '"><img src="' + item[i].Image + '" class="db" alt="HAPA đồng hành cùng TRUNG THU SÍN CHẢI 2018" /></a></div>';
                html2 += '</div>';
                html2 += '<time class="f6 db gray">' + item[i].CreatedDate + '</time>';
                html2 += '    </article>';
            }
            $("#divMostReads").empty();
            $("#divMostReads").append(html2);
        }
    </script>

</body>
</html>