.react-datepicker-popper{
    z-index: 999;
  }
  .react-datepicker__day-name, .react-datepicker__day , .react-datepicker__current-month{
    color :#e5a100 ;
  }
  .react-datepicker__navigation--next{
    border-left-color: #e5a100 ;
    background-color: transparent;
  }
  .react-datepicker__navigation--previous{
    border-right-color: #e5a100 ;
    background-color: transparent;
  }
  .react-datepicker__day--disabled, .react-datepicker__day--outside-month{
    color :silver;
  }
  .react-datepicker__day--keyboard-selected , .react-datepicker__day--today{
    color :white ;
    background-color: blue;
    border-radius: 10% ;
  }
  .react-datepicker__day--today:hover{
    color :white ;
    background-color: blue ;
 }
 .react-datepicker__input-container{
      width: 100%;
 }